<% if @articles.present? %>
  <% @articles.each do |article| %>
    <%= render 'shared/article', article: article %>
  <% end %>
<% else %>
  <h1>About this Website</h1>
  <p>Hi! My name is Naoki, and I'm a Computer Engineering major at a University in Ohio, USA. Computer engineering is a major that focuses more on the correlation between software and hardware, but I consider myself better at programming than I am at "hardware" stuff.</p>
<% end %>
