<h1>Welcome to NigoroJr.com!</h1>

<h2><%= @date %></h2>
<p>This website is getting into shape! Currently this website is rewritten in Ruby on Rails!</p>

<hr>

<h1>Contents Description</h1>

<p>The "Tips" page contains things that I discovered while configuring,
installing, and developing softwares. However, it's not (supposed to be)
limited to computer stuff. "Apps" page is a collection of apps that we
developed/are developing.</p>
<hr>
