<table class="skkdict_entries_list">
  <tr>
    <th>Reading</th>
    <th>Word</th>
    <th>Tags</th>

    <% if @logged_in_as %>
      <th>Manage</th>
    <% end %>
  </tr>

  <% @skkdict_entries.each do |entry| %>
    <tr>
      <td class="reading"><%= entry.reading %></td>
      <td class="word"><%= entry.word %></td>
      <td class="tags"><%= separate_tags(entry.tags) %></td>
      <% if @logged_in_as && @logged_in_as.can_modify(entry) %>
        <td class="manage"><%= render "shared/buttons/edit_delete", link: entry %></td>
      <% end %>
    </tr>
  <% end %>
</table>
