<h1>Users</h1>
<% User.where.not(username: "root").order(:screen).each do |user| %>
  <h2><%= link_to user.screen, "/users/#{user.username}" %></h2>
  <% about = get_about_on(user) %>
  <% if about != nil %>
    <%= raw(convert_to_markdown(about.body)) %>

    <% if @logged_in_as && @logged_in_as.username == about.posted_by %>
      <section class="admin">
        <%= render "shared/buttons/edit_delete", link: about %>
      </section>
    <% end %>
  <% end %>
<% end %>
