<section class="select_language">
  <ul>
    <% if session[:language].present? %>
      <li><%= link_to "All", { action: :search, "language" => "all" } %></li>
    <% else %>
      <li class="selected">All</li>
    <% end %>
    <% if session[:language] == "English" %>
      <li class="selected">English</li>
    <% else %>
      <li><%= link_to "English", { action: :search, "language" => "English" } %></li>
    <% end %>
    <% if session[:language] == "Japanese" %>
      <li class="selected">日本語</li>
    <% else %>
      <li><%= link_to "日本語", { action: :search, "language" => "Japanese" } %></li>
    <% end %>
  </ul>
</section>
