<% if @logged_in_as %>
  <%= link_to "Post new photo", :new_photo %>
<% end %>

<% if @photos.present? %>
  <div id="gallery">
    <% @photos.each do |photo| %>
      <%= render "shared/photo_thumbnail", photo: photo %>
    <% end %>
  </div>

  <script>
$('#gallery').photobox('a');
  </script>
<% else %>
  <h1>No image found</h1>
<% end%>
