.admin_page table {
    border: 1px solid #000000;
}

.admin_page th {
    background-color: #c2c2c2;
}

.admin_page th, .admin_page td {
    border: 1px solid #000000;
}

.article_title, .product_name, .car_name {
    width: 280px;
}

.admin_page .manage {
    width: 120px;
    padding: 4px 0;
    vertical-align: middle;
    text-align: center;
}
