.select_language {
    list-style: none;
    float: right;
}

.select_language li {
    display: block;
    float: left;
}

.select_language:after {
    content: "";
    clear: both;
    display: block;
}

.article .title {
  font-size: 30px;
}

.article .body {
}

.end_article {
  box-shadow: 0 0 10px 1px #005fff;
  height: 0;
  border: 0;
  margin: 20px 0;
}

.end_article:after {
  content: "\0";
}

.tags {
    margin: 5px 0;
}

.tag {
    padding: 2px 4px;
    margin: 5;
    background-color: #bfd5ff;
    color: #294173;
    border-radius: 3px;
    border-right: 2px solid #9aacd2;
    border-bottom: 2px solid #9aacd2;
}

.tags a:link {
    text-decoration: none;
}

.tags a:visited {
    text-decoration: none;
}

.tags a:hover {
    background-color: #9aacd2;
}

.comment {
    border: 2px solid #284504;
    border-radius: 3px;
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 10px;
}

.comment_body {
    padding-left: 20px;
}

code {
    background-color: #c4c4c4;
    padding: 1px;
    vertical-align: bottom;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

pre {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

pre code {
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
}

#change_page {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
