.select_language {
    display: block;
    width: 100%;
}

.select_language ul {
    list-style: none;
    float: right;
}

.select_language li {
    display: block;
    float: left;
}

.select_language:after {
    content: "";
    clear: both;
    display: block;
}

.article .title {
  font-size: 30px;
}

.article .body {
}

.article .description_hr {
  border-top: 1px dotted #5c38af;
}

.article_hr {
  box-shadow: 0 0 10px 1px #005fff;
  height: 0;
  border: 0;
  margin: 20px 0;
}

.article_hr:after {
  content: "\0";
}

.tags {
    margin: 5px 0;
}

.tag {
    padding: 2px 4px;
    margin: 5;
    background-color: #bfd5ff;
    color: #294173;
    border-radius: 3px;
    border-right: 2px solid #9aacd2;
    border-bottom: 2px solid #9aacd2;
}

.tags a:link {
    text-decoration: none;
}

.tags a:visited {
    text-decoration: none;
}

.tags a:hover {
    background-color: #9aacd2;
}

.comment {
    border: 2px solid #284504;
    border-radius: 3px;
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 10px;
}

.comment_body {
    padding-left: 20px;
}

#change_page {
    width: 250px;
    margin: 0 auto;
    text-align: center;
}
