$border_color: #00a2ff;
// $border_color: #005fff;

input[type=text], textarea {
  width: 100%;
  transition: all 0.20s ease-in-out;
  outline: none;
  border: 1px solid #dddddd;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px $border_color;
  border: 1px solid $border_color;
}

input[type=submit] {
  float: right;
  margin: 5px 0;
}
