// $navbar_background: #549AE5;
// $navbar_background: #0080E2;
$navbar_background: #0085EB;
/* background-color: #005fff; */

.navbar {
    /* margin: 0 auto; */
    font-size: 15px;
    /* font-family: Tahoma, Geneva, sans-serif; */
    font-family: "Hiragino Maru Gothic Pro", Meiryo, Tahoma, Geneva, sans-serif;
    font-weight: bold;
    background-color: $navbar_background;
    border-bottom: 1px solid #295b91;
    overflow: visible;
    padding: 0 20%;
}

.navbar ul:after {
    content: "";
    display: block;
    clear: both;
}

.navbar ul li {
    display: inline-block;
    background-color: $navbar_background;
    list-style: none;
    margin: 5px 0px;
    border-right: 1px solid #295b91;
}

.navbar ul li:first-child {
    border-left: 1px solid #295b91;
}

.navbar ul li a {
    margin: 0px 3px;
    padding: 6px 5px;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.navbar ul a:link {
    color: #fff;
}

.navbar ul a:visited {
    color: #fff;
}

.navbar ul a:hover {
    color: #fff;
    background-color: #005EA7;
    transition: all 0.3s ease-in-out 0;
    -webkit-transition: all 0.3s ease-in-out 0;
}

.navbar .nav_right {
    float: right;
}

/* The item on the very left because .nav_right is float: right */
.navbar .nav_right:last-child {
    border-left: 1px solid #295b91;
}
