.article .title {
  font-size: 30px;
}

.article .body {
}

.article .end_body {
  margin: 20px 0;
}

.end_article {
  box-shadow: 0 0 10px 1px #005fff;
  height: 0;
  border: 0;
  margin: 15px 0;
}

.end_article:after {
  content: "\0";
}
